.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: black;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__option > .MuiSvgIcon-root {
    color: #6de932;
}

#logout__btn {
    background-color: black;
}